body {
  display:block;
  background:pink;
}

h1 {
  color: blue;
  font-size: 3em; 
  display:block;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: "Helevtica Nueu";
  font-size: 12px;
  display: block;
}

#tasks .completed {
  background:#ccc;
  text-decoration: underline;
  display: block;
}